h1{
    border-style: solid;
    border-radius: 20px;

}
li{
    border-style: ridge;
    text-decoration: underline;
    color:black;
    background-color:ghostwhite;
    padding: 20px;
    display: inline;
    
}
body {
    background-color: rgb(101, 153, 153);
}
